body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    
}

h1{
    font-size: 50px;
    color: hotpink;
    
}
.name-color{
    color: skyblue;
}
.h3-color{
    color: rgb(20, 156, 209);
    font-size: 20px;
}
.p-color{
    color: black;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
    padding: 50px;
}
.top-banner{
    background-image: url(images/coc.jpg);
    height: 577px;
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    height: 598px;
    /* padding-bottom: 520px;
    margin-bottom: 120px; */
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,red, tomato);
    padding: 10px 25px;
    border-radius: 10px;
    color: white;
    font-weight: 700px;
}

/* above code for first part */

.dream-area{
    background-image: url(images/new.jpg);
    /* background-repeat: no-repeat; */
    /* background-position: right; */
    background-size: cover;
    height: 700px;
    margin-bottom: 0px;
}

.ex-color{
    color: hotpink;
    margin: 50px;
}
h2{
    color: orange;
}
h3{
    color: tomato;
}


.experience-area{
    background-image: url(images/coc.jpg);
    background-size: cover; 
   
    margin-top: 60px;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 7px;
    height: 55%;
    
   

}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,red, tomato);
    border-image-slice: 1;

}
#Nobe-web{
    border-left:7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;

}